{% extends 'base.html' %}
{% load static %}


{% block header %}

{% include 'header_main.html' %}

{% endblock %}


{% block content %}

<div id="posts-feed" class="container">
    <div class="settings-wrapper is-full">
        <!-- /partials/settings/sections/general-settings.html -->
        <div id="general-settings" class="settings-section is-active">
            <div class="settings-panel">
    
                <div class="title-wrap">
    
    <h2>{{ title }}</h2>{% if username %}&nbsp; - &nbsp;  <h2><b>{{ username }}&nbsp; </b></h2>  <div id="share-modal-demo" class="element-block">
        <div class="ui-elements">
            <div class="buttons">
                <a class="button is-rounded modal-trigger" data-modal="share-modal_like_follow">
                    Send Follow
                </a>
            </div>
        </div>
    </div> {% endif %}
                </div>
                <br><br>
                {% if request.user.otherinfo.balance > 0 %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label>Search username</label>
                        <div class="control has-icon">
                            <input type="text" required name="search_user" value="{{ username }}" class="input is-rounded">
                            <div class="form-icon">
                                <i data-feather="search"></i>
                            </div>

                        </div>
                    </div>
                    
                    </form>
                    {% else %}
<p>insufficient credit.</p>
                    {% endif %}
                </div>
        </div>
    </div>
</div>
{% if username %}
    
<div id="posts-feed" class="container">
    <!--Posts Grid-->
    <div class="posts-feed-wrapper is-2x">
        <div class="columns is-multiline">

{% if items %}
{% for item in items %}
<div class="column is-4">
    <div class="card post-feed-item">
        <div class="card-image">
            
            <figure class="image is-4by3">
                <a href="{{ item.image }}" data-demo-href="{{ item.image }}" data-fancybox="" data-caption="">
                    <img src="{{ item.image }}" alt="">
                </a>
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <div class="post-avatar is-smaller">
                        <img class="avatar" src="{{ item.profile_pic_url }}" data-demo-src="{{ item.profile_pic_url }}" data-user-popover="1" alt="">
                    </div>
                </div>
                <div class="media-content is-smaller">
                    <span>{{ item.username }}</span>
                </div>
                <div class="media-right">
    
                    <div id="share-modal-demo" class="element-block">
                        <div class="ui-elements">
                            <div class="buttons">
                                <a class="button modal-trigger" data-modal="share-modal_like_{{item.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="share-modal-demo" class="element-block">
                        <div class="ui-elements">
                            <div class="buttons">
                                <a class="button modal-trigger" data-modal="share-modal_comment_{{item.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    <div style="text-align: center;">
        <strong>Share not found.</strong>
    </div>
{% endif %}
</div>
</div>
</div>
{% endif %}

{% if items %}
{% for item in items %}
<div id="share-modal_comment_{{ item.id }}" class="modal share-modal is-xsmall has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-heading">
               <h3>Send Comment</h3>
                <!-- Close X button -->
                <div class="close-wrap">
                    <span class="close-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </span>
                </div>
            </div>
            <script>
                $(document).ready(function(){
        
        var lines = 99999999999;
        var linesUsed = $('#linesUsed{{ item.id }}');
        
        $('#countMe{{item.id}}').keydown(function(e) {
            
            newLines = $(this).val().split("\n").length;
            linesUsed.text(newLines);
            
            if(e.keyCode == 13 && newLines >= lines) {
                linesUsed.css('color', 'red');
                return false;
            }
            else {
                linesUsed.css('color', '');
            }
        });
    });
        </script>
            <form method="POST">
                {% csrf_token %}
            <div class="card-body">
                <div class="control">
                    Username
                    <input type="text" value="{{ username }}" readonly name="user_input" required placeholder="like quantity" class="input">
                </div>
                <div class="control">
                    Media Id
                    <input type="text" value="{{ item.id }}" readonly name="media_id_input" required placeholder="like quantity" class="input">
                </div>
                <div class="control">
                    <textarea class="textarea comment-textarea" required id="countMe{{item.id}}" name="comments" rows="8" placeholder="add sending comments..."></textarea>
                </div>
               
            </div>
          
            <div class="card-footer">
                <div class="action-wrap">
                    Quantity&nbsp; : &nbsp;&nbsp;<span id="linesUsed{{ item.id }}">0</span>
                
                </div>
                <div class="button-wrap">
                    <button type="button" class="button is-solid dark-grey-button close-modal">Cancel</button>
                    <button type="submit" name="btnComment_{{ item.id }}" class="button is-solid primary-button close-modal">Send</button>

                </div>
            </div>
            </form>
        </div>

    </div>
</div>


<div id="share-modal_like_{{ item.id }}" class="modal share-modal is-xsmall has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-heading">
               <h3>Send Like</h3>
                <!-- Close X button -->
                <div class="close-wrap">
                    <span class="close-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </span>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
            <div class="card-body">
                <div class="control">
                    Username
                    <input type="text" value="{{ username }}"  readonly name="user_input" placeholder="like quantity" class="input">
                </div>
                <div class="control">
                    Media Id
                    <input type="text" value="{{ item.id }}"  readonly name="media_id_input" placeholder="like quantity" class="input">
                </div>
                <div class="control">
                    Quantity*
                    <input type="text" name="likeValue" required placeholder="like quantity" class="input">
                </div>
               
            </div>
          
            <div class="card-footer">
                <div class="action-wrap">
                </div>
                <div class="button-wrap">
                    <button type="button" class="button is-solid dark-grey-button close-modal">Cancel</button>
                    <button type="submit" name="btnLike_{{ item.id }}" class="button is-solid primary-button close-modal">Send</button>
                </div>
            </div>
        </form>
        </div>

    </div>
</div>


{% endfor %}
{% endif %}

{% if username %}






<div id="share-modal_like_follow" class="modal share-modal is-xsmall has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-heading">
               <h3>Send Follow</h3>
                <!-- Close X button -->
                <div class="close-wrap">
                    <span class="close-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </span>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
            <div class="card-body">
                <div class="control">
                    Username
                    <input type="text" value="{{ username }}"  readonly name="user_input" placeholder="like quantity" class="input">
                </div>
                <div class="control">
                    Quantity*
                    <input type="text" name="followValue" required placeholder="follow quantity" class="input">
                </div>
               
            </div>
          
            <div class="card-footer">
                <div class="action-wrap">
                </div>
                <div class="button-wrap">
                    <button type="button" class="button is-solid dark-grey-button close-modal">Cancel</button>
                    <button type="submit" name="btnFollow" class="button is-solid primary-button close-modal">Send</button>
                </div>
            </div>
        </form>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}