{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header_main.html' %}
{% endblock %}

{% block content %}

<div id="posts-feed" class="container">
    <div class="settings-wrapper is-full">
        <!-- /partials/settings/sections/general-settings.html -->
        <div id="general-settings" class="settings-section is-active">
            <div class="settings-panel">
    
                <div class="title-wrap">
                    <h2>{{ title }}</h2>
                </div>
                <br><br>
                    {% if starting %}
                    <strong>İşlem başladı.</strong> Do not leave the page to follow the transactions...
                    {% else %}
                    {% if request.user.otherinfo.balance > 0 %}
<form method="POST">
{% csrf_token %}
    <div class="field">
        <label>Username of Person to Send Follower*</label>
        <div class="control">
            <input type="text" required name="username" class="input">
        </div>
    </div>

    <div class="field">
        <label>Number of Followers*</label>
        <div class="control">
            <input type="number" required name="quantity" min="1" class="input">
        </div>
    </div>
    
 <div style="text-align: center;">
    <button type="submit" name="btnStart" class="button is-solid primary-button raised">Start Submission</button>
 </div>
 
</form>
{% else %}
<p>insufficient credit.</p>
{% endif %}
{% endif %}
                
                </div>



        </div>
    </div>

{% endblock %}