{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
      <div class="row">
        <div class="col-md-6">
          <h3>{% trans 'Parolanızı Sıfırlayın' %}</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}<br>
            <div class="row">
               <div class="col-md-6">

                <button type="submit" class="button">{% trans 'Sıfırlama Bağlantısı Gönder' %}</button>
               </div>
            </div>

          </form>
        </div>
      </div>
{% endblock %}