{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
<br>
<h3>{% trans 'Parola sıfırlama gönderildi' %}</h3>
<p>
  {% trans 'Eğer girdiğiniz e-posta ile bir hesabınız varsa, parolanızın ayarlanması için size talimatları e-posta ile gönderdik' %}.

  {% trans 'Eğer bir e-posta almadıysanız, lütfen kayıt olurken girdiğiniz adresi kullandığınızdan emin olun ve istenmeyen mesajlar klasörünü kontrol edin' %}.</p>
    </div>
  </div>
</div>

{% endblock %}
