{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

  <div class="container">
    <div class="row">
        <div class="col-md-6"><br>
          <h3>{% trans 'Yeni Parola Belirle' %}</h3>
          {% if validlink %}
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}<br>
              <button type="submit"  class="button button-small button-3d button-rounded">{% trans 'Onayla' %}</button>
            </form>
          {% else %}
            <p class="text-danger">{% trans 'Geçersiz Bağlantı' %}</p>
            <p>
              <a  href="{% url 'password_reset' %}">{% trans 'Yeni Bir Bağlantı Göndermeyi Dene' %}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
