{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }} <a href="{% url 'custom_admin:instagram-siparisler' %}" class="btn btn-primary float-right">{% trans 'Yenile' %} </a><i
            class="fa fa-refresh"></i></h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
        
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <!-- create table -->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{% trans 'Servis' %} ID</th>
                <th>{% trans 'Servis Adı' %}</th>
                <th >{% trans 'Sipariş adet' %}</th>
                <th >{% trans 'İnsta. Sayısı' %}</th>
                <th >{% trans 'Başarılı' %}</th>
                <th >{% trans 'Kalan ' %}</th>
                <th >{% trans 'Durum ' %}</th>
                <th >{% trans 'Sil ' %}</th>
  
              </tr>
            </thead>
            <tbody>
              {% for x in successful_log_data %}
              <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.service }}</td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.start_count }}</td>
                <td>{{ x.difference }}</td>
                <td>{{ x.remains }}</td>
                <td>{{ x.status }}</td>
                <!--add delete button of the record-->
                <td>
                  <a href="#" onclick="areYouSure({{ x.id }})" class="btn btn-danger btn-sm"><i
                      class="fa fa-trash"></i></a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <span>
            {% trans 'Toplam Başarılı İşlem' %} : <b>  {{sayisi}}</b>
          </span>
        </div>
   
      </div>
      <!-- /.card -->
      <!-- /.card -->
    </div>
  </div>
  <script>
    function areYouSure(id) {
      if (confirm(id + " Nolu sipariş silinecektir. Eminmisiniz?")) {
        // go to view 'custom_admin:delete-order' id=x.id 
        window.location.href = `${id}/` ;

      } else {
        return false;
      }
    }
  </script>
{% endblock %}