{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 id="title" class="m-0">{{ title }}  </h1> 
        </div>
        <div class="col-sm-6">
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
{% if starting %}
    <strong>{% trans 'İşlem başladı' %}.</strong>
{% else %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div style="position:fixed; top:0; right:300px; margin:15px; z-index:1999;" id="insta_start_count" name="insta_start_count">
    <strong>{{ insta_start_count }} Kişi</strong>
</div>

<div name="hidden-elements" >
<input type="hidden" id="start_count_input" name="start_count_input" value="">
</div>

<br/>
<div class="field">
<label>{% trans 'İşlem Türü' %}</label>

<select  name="islem_turu" required  style="width: 100%;" id="service_lists" class="control form-control">
    <option value="">---</option>
    {% for key, value in service_lists.items %}
    <option value="{{ key }}">{{ value }} </option>
    {% endfor %}
</select>
</div>
<br>
<!--Check button -->
<div class="field">
<div class="control">
  <input type="checkbox" id="isFree" name="isFree" value="0"  class="control">
  <label> {% trans 'Ücretsiz işlem ?' %} </label>
</div>
</div>
<br>
<div class="field">
    <label>{% trans 'Kullanıcı veya post linki (Tam link)' %}*</label>
    <div class="control">
        <input type="text"  name="link" class="form-control">
    </div>
</div>
<br>
<div class="field" id="follower_quantity">
    <label>{% trans 'Takçipçi Miktarı' %}*</label>
    <div class="control">
        <input id="takipci_quantity" type="number" value="0" name="takipci_quantity" class="form-control">
    </div>
</div>
<br>

<div id="ulke" class="field">
<label>{% trans 'Ülke ' %}</label>
<select  name="country_name" required  style="width: 100%;" id="country_name" class="form-control">
    <option value="">---</option>
    {% for c in country %}
        <option value="{{ c.country }}">{{ c.country }} </option>
    {% endfor %}
</select>
</div>

<div id="sehir" class="field" style="display:none;">
<label>{% trans 'Şehir ' %}</label>
<select  name="locality_name"   style="width: 100%;" id="locality_name" class="form-control">
    <option value="">---</option>
    {% for c in locality %}
        <option value="{{ c.locality }}">{{ c.locality }} </option>
    {% endfor %}
</select>
</div>

<div id="bolge" class="field" style="display:none;">
<label>{% trans 'Bölge ' %}</label>
<select  name="sublocality_name"   style="width: 100%;" id="sublocality_name" class="form-control">
    <option value="">---</option>
    {% for c in subLocality %}
        <option value="{{ c.subLocality }}">{{ c.subLocality }} </option>
    {% endfor %}
</select>
</div>
<br>

<!--Text area input -->
<div class="field" id="commentsDiv" style="display:none">
    <label>{% trans 'Comment listesi' %}*</label>
    <div class="control">
        <textarea id="comments" name="comments"  class="form-control"></textarea>
    </div>
</div>
<br>

<div id="load_file" class="field" style="display:none" >
    <label id="loadfilelabel" >{% trans 'dosyasını yükle' %}*</label>
    <div class="control">
        <input id="file" type="file"  name="file"  class="form-control">
    </div>
</div>
<br>
<!--Write error message in red -->
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<div style="text-align: center;"><br>
<button type="submit" name="btnStart" class="btn btn-primary">{% trans 'İşlemi Başlat' %}</button>

</div>

</form>

{% endif %}

</div>
</div>
</div>
<script>
    const countElem = document.getElementById('start_count_input');
    var instagram_accounts = JSON.parse('{{ instagram_accounts|escapejs }}')
    const selectElement = document.getElementById('service_lists');
    const countryElem = document.getElementById('country_name');
    const localityElem = document.getElementById('locality_name');
    const sublocalityElem = document.getElementById('sublocality_name');
    const sehirElem = document.getElementById('sehir');
    const bolgeElem = document.getElementById('bolge');

    
    countryElem.onchange = function() {
        var selected_country_name = document.getElementById('country_name').value;
        if (selected_country_name == '') {
            sehirElem.style.display = 'none';
            bolgeElem.style.display = 'none';
            // unfilter all instagram accounts
            var filtered_accounts = instagram_accounts
        } else {
            sehirElem.style.display = 'block';
            // filter instagram accounts by country code
            var filtered_accounts = instagram_accounts.filter(function(account) {
                return account.country == selected_country_name;
            });
        }
        
        // write filtered length to context['title'] rendered above
        document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
        countElem.value = filtered_accounts.length;
    
    };
    localityElem.onchange = function() {
        var selected_country_name = document.getElementById('country_name').value;
        var selected_locality_name = document.getElementById('locality_name').value;
    
        if (selected_locality_name == '') {
            bolgeElem.style.display = 'none';
            var filtered_accounts = instangram_accounts.filter(function(account) {
                return account.country == selected_country_name;
            });
        } else {
            bolgeElem.style.display = 'block';
            // filter instagram accounts by previous selected country code
            var filtered_accounts = instagram_accounts.filter(function(account) {
                return account.locality == selected_locality_name;
            });

        }
        
        // write filtered length to context['title'] rendered above
        document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
        countElem.value = filtered_accounts.length;

    };

    sublocalityElem.onchange = function() {
        var selected_locality_name = document.getElementById('locality_name').value;
        var selected_sublocality_name = document.getElementById('sublocality_name').value;
        
        if (selected_sublocality_name == '') {
            var filtered_accounts = instagram_accounts.filter(function(account) {
                return account.locality == selected_locality_name;
            });
        } else {
            // filter instagram accounts by previous selected country code
            var filtered_accounts = instagram_accounts.filter(function(account) {
                return account.subLocality == selected_sublocality_name;
            });
        }
        // write filtered length to context['title'] rendered above
        document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
        countElem.value = filtered_accounts.length;
    };
        

    selectElement.addEventListener('change', function() {
         
        if (this.value=="usersToFollow" || this.value=="postLikes" ) {
            document.getElementById('load_file').style.display = 'none';
            document.getElementById('comments').required = false;
            document.getElementById('commentsDiv').style.display = 'none';

        } else if (this.value=="postComments" || this.value=="liveBroadCastComments") {
            document.getElementById('load_file').style.display = 'none';
            document.getElementById('follower_quantity').style.display = 'none';
            document.getElementById('commentsDiv').style.display = 'block';
            document.getElementById('comments').required = true;

        } else if (this.value == 'postShares' || this.value=="videoShares") {
            var text = (this.value=="postShares")? "Resim" : "Video"
            document.getElementById('loadfilelabel').innerHTML =  text + ' dosyasını yükle';
            document.getElementById('load_file').style.display = 'block';
            document.getElementById('comments').required = true;
            document.getElementById('commentsDiv').style.display = 'block';

        } else if (this.value=="advertImageShare" || this.value=="advertVideoShare"){
            document.getElementById('loadfilelabel').innerHTML =  'Resim veya Video dosyasını yükle';
            document.getElementById('load_file').style.display = 'block';
            document.getElementById('comments').required = false;
            document.getElementById('commentsDiv').style.display = 'none';

        } else if (this.value=="liveWatches" || this.value=="liveBroadCastLikes" ) {
            document.getElementById('load_file').style.display = 'none';
            document.getElementById('comments').required = false;
            document.getElementById('commentsDiv').style.display = 'none';
            document.getElementById('follower_quantity').style.display = 'block';

        } else if (this.value=="advertImageShare" || this.value=="advertVideoShare" ) {
            var text = (this.value=="advertImageShare")? "Resim" : "Video"
            document.getElementById('loadfilelabel').innerHTML =  text + ' dosyasını yükle';
            document.getElementById('load_file').style.display = 'block';
            document.getElementById('commentsDiv').style.display = 'block';
            document.getElementById('comments').required = true;
        }

    });

</script>

  {% endblock %}