{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
  {% if starting %}
  <strong>{% trans 'İşlem başladı' %}.</strong>
  {% else %}
  <form method="POST">
    {% csrf_token %}
        <div class="field">
            <label>{% trans 'Kullanıcı' %}*</label>
            <div class="control">
                <input type="text" required name="username" class="form-control">
            </div>
        </div>
    
        <div class="field">
            <label>{% trans 'Beğeni Miktarı' %}*</label>
            <div class="control">
                <input type="number" required name="quantity" min="1" class="form-control">
            </div>
        </div>
        <label>{% trans 'Emir Süresi' %}*</label><br>
        <input type="radio" checked id="day7" name="timeout" value="7">
        <label for="day7">7 {% trans 'Gün' %}</label>
        <input type="radio" id="day14" name="timeout" value="14">
        <label for="day14">14 {% trans 'Gün' %}</label>
        <input type="radio" id="day30" name="timeout" value="30">
        <label for="day30">30 {% trans 'Gün' %}</label>
     <div style="text-align: center;">
        <button type="submit" name="btnAddAutoLike" class="btn btn-primary">{% trans 'Oto Beğeni Emri Ver' %}</button>
     </div>
     
    </form>

{% endif %}
</div>
</div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Aktif Emirler</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Kullanıcı</th>
              <th>Başlangıç Tarihi</th>
              <th>Emir Süresi (Gün)</th>
              <th>Beğeni Miktarı</th>
              <th>Media</th>
              <th>Emri İptal Et</th>
            </tr>
          </thead>
          <tbody class="text-center">
              {% for a in auto %}
            <tr>
              <td>{{ a.id }}</td> 
              <td>{{ a.username }}</td>
              <td>{{ a.date }}</td>
              <td>{{ a.timeout }}</td>
              <td>{{ a.quantity }}</td>
              <td>Son 12 Media</td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                <button name="btnDelete{{a.id}}" class="btn btn-danger">Sil</button>
                </form>
              </td>
          
              {% endfor %}
          </tbody>
        </table>
      </div>


    </div>

  </div>
</div>
  {% endblock %}