{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
  {% if starting %}
  <strong>{% trans 'İşlem başladı' %}.</strong>
  {% else %}
  <form method="POST">
    {% csrf_token %}
    <div class="field">
        <label>Media Link*</label>
        <div class="control">
            <input type="text" required name="media_link" class="form-control">
        </div>
    </div>
    <script>
        $(document).ready(function(){
    
    var lines = 99999999999;
    var linesUsed = $('#linesUsed{{ item.id }}');
    
    $('#countMe{{item.id}}').keydown(function(e) {
    
    newLines = $(this).val().split("\n").length;
    linesUsed.text(newLines);
    
    if(e.keyCode == 13 && newLines >= lines) {
        linesUsed.css('color', 'red');
        return false;
    }
    else {
        linesUsed.css('color', '');
    }
    });
    });
    </script>
    <div class="field">
        <label>{% trans 'Yorumlar' %}*</label>
        <div class="control">
            <textarea class="form-control" required id="countMe" name="comments" rows="8" placeholder="{% trans 'Gönderilecek yorumlar' %}..."></textarea>
        </div>
    </div>
    
    {% trans 'Miktar' %}&nbsp; : &nbsp;&nbsp;<span id="linesUsed">0</span>


    <br>
<label>{% trans 'Kullanıcı kategorileri' %}</label>
<select name="user_category" required style="width: 100%;" multiple id="">
  {% for x in get_user_categories %}
  <option value="{{ x.id }}">{{ x.category_name }}</option>
  {% endfor %}
</select>

    <div style="text-align: center;">
    <button type="submit" name="btnSend" class="btn btn-primary">{% trans 'İşlemi Başlat' %}</button>
    </div>
    
    </form>

{% endif %}
</div>
</div>
</div>

  {% endblock %}