{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
  {% if starting %}
  <strong>{% trans 'İşlem başladı' %}.</strong>
  {% else %}
  <form method="POST">
    {% csrf_token %}
        <div class="field">
            <label>{% trans 'Kullanıcıadı' %}*</label>
            <div class="control">
                <input type="text" required name="username" class="form-control">
            </div>
        </div>
    
        <div class="field">
            <label>{% trans 'İzlenme Miktarı' %}*</label>
            <div class="control">
                <input type="number" required name="quantity" min="1" class="form-control">
            </div>
        </div>
        <label>{% trans 'İzlenme Süresi' %}*</label><br>

        <input type="radio" checked id="dk30" name="watch_type" value="30">
        <label for="dk30">30 {% trans 'Dakika' %}</label>
        <input type="radio" id="s4" name="watch_type" value="4">
        <label for="s4">4 {% trans 'Saat' %}</label>

        <br>
<label>{% trans 'Kullanıcı kategorileri' %}</label>
<select name="user_category" required style="width: 100%;" multiple id="">
  {% for x in get_user_categories %}
  <option value="{{ x.id }}">{{ x.category_name }}</option>
  {% endfor %}
</select>
     <div style="text-align: center;"><br>
        <button type="submit" name="btnSend" class="btn btn-primary">{% trans 'İşlemi Başlat' %}</button>
     </div>
     
    </form>

{% endif %}
</div>
</div>
</div>

  {% endblock %}