{% load static %}
<div class="app-overlay"></div>
<div class="app-overlay is-sidebar-v1"></div>
<div class="sidebar-v1">
    {% if request.user.is_authenticated %}
    <div class="top-section" style="height: 160px;">
        <button id="sidebar-v1-close" class="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
        </button>
        <div class="user-block">
            {% if request.user.is_superuser %}
            <img class="avatar"src="{% static 'img/admin.png' %}" data-demo-src="{% static 'img/admin.png' %}" alt="">
            {% else %}
            <img class="avatar"src="{{ request.user.otherinfo.picture_url }}" data-demo-src="{{ request.user.otherinfo.picture_url }}" alt="">
            {% endif %}
            <div class="meta">
                <span>{{ request.user.username }} {% if request.user.is_superuser %} <a href="{% url 'custom_admin:dashboard' %}">Admin Panel</a> {% endif %}</span>
                {% if request.user.is_superuser == False %} 
                <span>Credit : {{ request.user.otherinfo.balance }} </span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="bottom-section">
        <ul>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'user:user-page' username=request.user.username %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>

                    <span>My Profile</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'user:otherprofiles' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>

                    <span>See Someone Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:follow' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                    <span>Send Follow</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:post-like' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    <span>Send Post Like</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:post-comment' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    <span>Send Post Comment</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:save-photo' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    <span>Photo Saving</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:watch-live' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    <span>Watch Live Stream</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:like-live' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    <span>Like Live Stream</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:comment-live' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    <span>Comment Live Stream</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:dm-message' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    <span>Send DM Message</span>
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                    <span style="color: rgb(247, 53, 53);">Log Out</span>
                </a>
            </li>
            {% endif %}
        </ul>
       
    </div>
</div>
<div class="toolbar-v1 is-narrow">
    <!-- Sidebar Trigger -->
    <div class="friendkit-hamburger sidebar-v1-trigger">
        <span class="menu-toggle has-chevron">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
        </span>
        </span>
    </div>
   <img src="{{ site_logo.url }}" width="210" class="img-fluid" alt="">
</div>