{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans 'Kullanıcılar' %}</h3>
        </div>
        <!-- /.card-header -->

        <div class="card-body">
          {% if deleteUsers %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> {% trans 'Başarılı' %}!</h5>
            {% trans 'Seçili kullanıcılar silindi' %}.
          </div>
          {% endif %}
          {% if changeCats %}
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> Başarılı!</h5>
            {% trans 'Seçili kullanıcılar' %} , {% trans 'seçili kategorilere aktarılıyor' %}...
          </div>
          {% endif %}
            <br>
            <form method="POST">
                {% csrf_token %}
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th></th>
                <th>{% trans 'Kullanıcı Adı' %}</th>
                <th>{% trans 'Parola' %}</th>
                <th>{% trans 'Ülke Kodu' %}</th>
                <th>{% trans 'Telefon' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Cinsiyet' %}</th>
                <th>{% trans 'Kullanıcı Tipi' %}</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                  <td><input type="checkbox" name="selectedUsers" value="{{ user.id }}" class="action-select"></td>
                <td>{{ user.username }}</td>
                <td>{{ user.instagramcookies.default_password }}</td>
                <td>{% if user.otherinfo.country_code %}{{ user.otherinfo.country_code }}{% else %}-{% endif %}</td>
                <td>{% if user.otherinfo.phone %}{{ user.otherinfo.phone }}{% else %}-{% endif %}</td>
                <td>{% if user.email %}
                  {{ user.email }}{% else %}-{% endif %}</td>
                <td>{{ user.otherinfo.gender }}</td>
                <td class="text-center">
                    {% if  user.otherinfo.default_user  %}
                    <span class="badge bg-info">{% trans 'Instagram Kullanıcısı' %}</span>
                {% else %}
                <span class="badge bg-danger">{% trans 'Bot Kullanıcı' %}</span>
                {% endif %}
            </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="row">
              <div class="col-md-4">
                <button class="btn btn-danger" type="submit" name="btnDelete">{% trans 'Seçili Kullanıcıları Sil' %}</button>
              </div>
              <div class="col-md-8">
                <label>{% trans 'Kullanıcı kategorileri' %}</label>
                <select name="user_category" style="width: 100%;" multiple id="">
                  {% for x in get_user_categories %}
                  <option value="{{ x.id }}">{{ x.category_name }}</option>
                  {% endfor %}
                </select><br>
                <button class="btn btn-primary" type="submit" name="btnChangeCategories">{% trans 'Seçili Kullanıcıları Seçilen Kategorilere Ata' %}</button>
              </div>
          </div>
         
        </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-left">
            {% if p_users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ p_users.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% trans 'Geri' %}  </a>
              </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link">
                      {{ p_users.number }} / {{ p_users.paginator.num_pages }}
                    </a>
              
            </li>

            {% if p_users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p_users.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> {% trans 'İleri' %} </a>
                </li>
                <li class="page-item">
                <a class="page-link" href="?page={{ p_users.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ p_users.paginator.num_pages }}</a>
            </li>
                {% endif %}
          </ul>
        </div>
      </div>
      <!-- /.card -->
      <!-- /.card -->
    </div>

    <!-- /.col -->
  </div>
{% endblock %}