{% extends 'custom_admin/base.html' %}

{% load i18n %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>



 <div class="container-fluid">
   <form action="" method="POST">

  
  <div class="form-group">
    {% csrf_token %}
    <label for="packpagesName">{% trans 'Paket Adı' %}</label>
    <input type="text" class="form-control" name="packpageName" required id="packpagesName" placeholder="{% trans 'Paket adı' %}...">
  </div>
  <div class="form-group">
    <label>Cinsiyet</label>
    <select name="selectGender" class="form-control">
      <option value selected>----------</option>

      {% for x in genders %}
      <option value="{{ x.id }}">{% if x.name == "1" %}{% trans 'Erkek' %}{% else %}{% trans 'Kadın' %}{% endif %}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label>{% trans 'Ülke Kodu' %}</label>
    <select name="selectCountry" class="form-control">
      <option value selected>----------</option>
      {% for x in country_codes %}
      <option value="{{ x.id }}">{{ x.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="ulke" class="field">
    <label>{% trans 'Ülke ' %}</label>
    <select  name="country_name" required  style="width: 100%;" id="country_name" class="form-control">
        <option value="">---</option>
        {% for c in country %}
            <option value="{{ c.country }}">{{ c.country }} </option>
        {% endfor %}
    </select>
    </div>
    
    <div id="sehir" class="field" style="display:none;">
    <label>{% trans 'Şehir ' %}</label>
    <select  name="locality_name"   style="width: 100%;" id="locality_name" class="form-control">
        <option value="">---</option>
        {% for c in locality %}
            <option value="{{ c.locality }}">{{ c.locality }} </option>
        {% endfor %}
    </select>
    </div>
    
    <div id="bolge" class="field" style="display:none;">
    <label>{% trans 'Bölge ' %}</label>
    <select  name="sublocality_name"   style="width: 100%;" id="sublocality_name" class="form-control">
        <option value="">---</option>
        {% for c in subLocality %}
            <option value="{{ c.subLocality }}">{{ c.subLocality }} </option>
        {% endfor %}
    </select>
    </div>
    <br>
<!--
  <label>{% trans 'Kullanıcı Kategorileri' %}</label>
<select name="user_category" class="form-control style="width: 100%;" multiple id="">
  {% for x in user_categories_list %}
  <option value="{{ x.id }}">{{ x.category_name }}</option>
  {% endfor %}
</select><br>-->
  <div class="form-group">
    <div class="row">
      <div class="col-4">
    <button type="submit"  class="btn btn-block btn-default" name="btnCreate">{% trans 'Paketi Oluştur' %}</button>
      </div>
    </div>
    </div>
  </form>
 </div>
 <div class="row">
   <div class="col-6"></div>
   <div class="col-6 text-right">
    <a href="{% url 'custom_admin:dashboard' %}"  class="btn btn-block btn-default" name="btnCreate">{% trans 'Kullanıcı Verileri' %}</a><br>
   </div>


 </div>

 <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans 'Aktif Kullanıcı Paketleri' %}</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{% trans 'Paket Adı' %} </th>
              <th>{% trans 'Kullanıcı Kategorileri' %}</th>
              <th>{% trans 'Ülke Kodu' %}</th>
              <th>{% trans 'Ülke' %}</th>
              <th>{% trans 'Şehir' %}</th>
              <th>{% trans 'Bölge' %}</th>
              <th>{% trans 'Cinsiyet' %}</th>
              <th>{% trans 'Düzenle' %}</th>
              <th>{% trans 'Sil' %}</th>

            </tr>
          </thead>
          <tbody>
              {% for packpage in all_packpages %}
            <tr>
              <td>{{ packpage.name }}</td>
              <td  class="text-center">
                
                {% if packpage.category.all %}
                {% for cat in packpage.category.all %}{{ cat }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}
                {% else %}
                -
                {% endif %}
              </td>
              <td class="text-center">{% if  packpage.country_code %}
                {{ packpage.country_code.name }}
              {% else %}
                  -
              {% endif %}
              </td>
              <td class="text-center">{% if  packpage.country %}
                {{ packpage.country }}
              {% else %}
                  -
              {% endif %}
              </td>
              <td class="text-center">{% if  packpage.locality %}
                {{ packpage.locality }}
              {% else %}
                  -
              {% endif %}
              </td>
              <td class="text-center">{% if  packpage.subLocality %}
                {{ packpage.subLocality }}
              {% else %}
                  -
              {% endif %}
              </td>
              <td class="text-center">
                {% if  packpage.country_code %}
                {{ packpage.gender.name }}
              {% else %}
                  -
              {% endif %}
              </td>
              <td><a href="{% url 'custom_admin:edit-user-packpages' id=packpage.id %}" class="btn btn-block btn-warning">{% trans 'Düzenle' %}</a></td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                <button type="submit" name="btn{{ packpage.id }}" class="btn btn-block btn-danger">{% trans 'Sil' %}</button>
                </form>
               </td>
           
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
     
  </div>

</div>


<script>
  const countElem = document.getElementById('start_count_input');
  var instagram_accounts = JSON.parse('{{ instagram_accounts|escapejs }}')
  const selectElement = document.getElementById('service_lists');
  const countryElem = document.getElementById('country_name');
  const localityElem = document.getElementById('locality_name');
  const sublocalityElem = document.getElementById('sublocality_name');
  const sehirElem = document.getElementById('sehir');
  const bolgeElem = document.getElementById('bolge');

  
  countryElem.onchange = function() {
      var selected_country_name = document.getElementById('country_name').value;
      if (selected_country_name == '') {
          sehirElem.style.display = 'none';
          bolgeElem.style.display = 'none';
          // unfilter all instagram accounts
          var filtered_accounts = instagram_accounts
      } else {
          sehirElem.style.display = 'block';
          // filter instagram accounts by country code
          var filtered_accounts = instagram_accounts.filter(function(account) {
              return account.country == selected_country_name;
          });
      }
      
      // write filtered length to context['title'] rendered above
      document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
      countElem.value = filtered_accounts.length;
  
  };
  localityElem.onchange = function() {
      var selected_country_name = document.getElementById('country_name').value;
      var selected_locality_name = document.getElementById('locality_name').value;
  
      if (selected_locality_name == '') {
          bolgeElem.style.display = 'none';
          var filtered_accounts = instangram_accounts.filter(function(account) {
              return account.country == selected_country_name;
          });
      } else {
          bolgeElem.style.display = 'block';
          // filter instagram accounts by previous selected country code
          var filtered_accounts = instagram_accounts.filter(function(account) {
              return account.locality == selected_locality_name;
          });

      }
      
      // write filtered length to context['title'] rendered above
      document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
      countElem.value = filtered_accounts.length;

  };

  sublocalityElem.onchange = function() {
      var selected_locality_name = document.getElementById('locality_name').value;
      var selected_sublocality_name = document.getElementById('sublocality_name').value;
      
      if (selected_sublocality_name == '') {
          var filtered_accounts = instagram_accounts.filter(function(account) {
              return account.locality == selected_locality_name;
          });
      } else {
          // filter instagram accounts by previous selected country code
          var filtered_accounts = instagram_accounts.filter(function(account) {
              return account.subLocality == selected_sublocality_name;
          });
      }
      // write filtered length to context['title'] rendered above
      document.getElementById('insta_start_count').innerHTML = filtered_accounts.length + ' Kişi'; 
      countElem.value = filtered_accounts.length;
  };
      
</script>
{% endblock %}